body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#react-root-container {
  --font-family-primary: "Arial";
  --font-family-text: "Arial";
  --theme-color: white;
  --font-color: black;
  --color-primary: #6e1113;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-text);
  color: var(--font-color);

  ul,
  li,
  menu,
  ol,
  p {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      line-height: 1.1em;
      margin: 0px;
      padding: 0px;
    }
  }

  .google-review,
  .trustpilot-review {
    height: 15rem;
    background-color: var(--theme-color);
    border: 1px solid var(--color-primary);
    outline: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    backface-visibility: hidden;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateZ(0) perspective(1px);

    .review_rating {
      display: flex;
      margin: 0.5rem 0px;
      gap: 2px;
    }

    &:not(.google-review) .review_rating {
      i {
        color: white;

        &.full {
          background-color: #00b67a;
        }

        &.not-full {
          background-color: rgb(220, 220, 230);
        }
      }
    }

    &:not(.trustpilot-review) .review_rating {
      i.full {
        color: rgb(253, 214, 99);
      }

      i.not-full {
        color: rgb(128, 134, 139);
      }
    }

    .review_title {
      font-size: 14px;
      color: var(--font-color);
      font-weight: 700;
      text-transform: capitalize;
    }

    .author_title a {
      font-size: 16px;
      text-decoration: none;
      font-weight: 700;
      color: var(--font-color);
      text-transform: capitalize;
    }

    .review_text {
      flex: auto;
      font-size: 14px;
      font-weight: 400;
      overflow-y: auto;
      //styles for scroller

      /* For Firefox */
      scrollbar-width: thin; /* Makes the scrollbar thinner */
      scrollbar-color: #6e1113 transparent; /* Colors the thumb and track */

      /* For Internet Explorer and Edge (legacy) */
      scrollbar-face-color: #6e1113;
      scrollbar-track-color: transparent;

      /* For WebKit Browsers */
      &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #6e1113;
        border-radius: 8px;
        border: 3px solid transparent; /* To take the full width */
        background-clip: padding-box; /* To ensure the border doesn't affect the thumb size */
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-button {
        display: none;
      }
    }
  }
}
